.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.container .endTest {
  background-color: var(--yellow-100);
  color: var(--black-100);
  padding: 10px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.container .endTest svg {
  margin-right: 6px;
}
