.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .badge {
  background-color: var(--black-200);
  color: var(--white);
  padding: 6px;
  border-radius: 6px;
}
