.bodyContainer {
  display: grid;
  grid-template-columns: 97px 1fr 352px;
  column-gap: 24px;
}

.middleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
}
